.title{
    text-align: center;
    font-weight: lighter;
    font-family: 'Helvetica', Helvetica, monospace;
    /* t */
}
#banner{
    top: 0;
}

h2{
    font-weight: lighter;
    font-family: Helvetica;
}
@font-face {
    font-family: Helvetica;
    font-weight: lighter;
    src: url('/src/HelveticaLight.ttf');
}

body{
    background-color: #282828;
    color: white;
    margin: 0;
}

.UnivHeader{
    /* width: 100%; */
    top: 0px;
    padding: 1px;
    position: sticky;
    text-align: center;
    background-color: white;
}
p{
    font-family: 'Montserrat', Montserrat, monospace;
}

button{
    border: none;
    background-blend-mode: overlay;
    color: lightcoral;
    background-color: black;
    font-family: Montserrat;
}
#bottom{
    font-family: Montserrat;
    background-color: white;
    color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    vertical-align: middle;
}
#leftFoot{
    flex: 0 0 65%;
}
#rightFoot{
    flex: 1;
}
#cat{
    content-visibility: visible;
    width: 10px;
    height: 10px;
    src: "static/cat.gif";
}